<div class="container px-5 px-sm-0">
 <div class="row">
  <div class="col-md-3">

    <h2>User info</h2>
       <%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: '100x100' %>
       <table class="table">
           <tbody>
               <tr>
                  <th>name</th>
                  <th><%= user.name %></th>
               </tr>
               <tr>
                  <th>introduction</th>
                  <th><%= user.introduction %></th>
               </tr>
               <tr>
                  <th><%= "フォロー数: #{user.follower.count}" %></th>
               </tr>
               <tr>
                  <th><%= "フォロワー数: #{user.followed.count}" %></th>
               </tr>
            </tbody>
        </table>
        <div class="row">
         <a class="btn btn-outline=secondary btn-block">
         <%= link_to edit_user_path(user) do %>
         <i class="fas fa-user-cog"></i>
         <% end %>
         </a>
         <% unless user == current_user %>
          <% if current_user.following?(user) %>
          <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
          <% else %>
          <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
          <% end %>
         <% end %>
        </div>