<%= render 'users/list', user: @user %>

<%= render 'books/list', book: @book %>

<div class="col-md-8 offset-md-1">
<h2>User info</h2>
<% @users.each do |user| %>
<table class-"table">
 <thead>
  <tr>
   <th>image</th>
   <th>name</th>
   <th></th>
   <th></th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td><%= attachment_image_tag user, :profile_image %></td>
   <td><%= current_user.name %></td>
   <td></td>
   <td><%= link_to "show", user_path(current_user.id) %></td>
  </tr>
 </tbody>
</table>
<% end %>
</div>