<%=flash[:notice] %>

  <%= render 'users/list', user: @user %>
  <%= render 'books/list', book: @book %>
  

<div class="col-md-8 offset-md-1">
 <h4>Books detail</h4>
 <% @books.each do |book| %>
  <table>
      <thead>
       <tr>
        <th><%= attachment_image_tag book.user, :profile_image %><br>
            <%= link_to users_path(@user) do %>
            <%= @user.name %>
            <% end %>
        </th>
        <th><%= link_to book_path(book.id) do %>
            <%= book.title %>
            <% end %>
        </th>
        <th><%= book.body %></th>
        <th><% if @book.user == current_user %>
            <%= link_to "Edit", edit_book_path(@book) %>
            <% end %>
        </th>
        <th><% if @book.user == current_user %>
            <%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "are you sure？"} %>
            <% end %>
        </th>
       </tr>
      </thead>
  </table>
<% end %>
</div>

</div>
</div>
