<%=flash[:notice] %>

  <%= render 'users/list', user: @user %>
  <%= render 'books/list', book: @new_book %>


<div class="col-md-8 offset-md-1">
 <h4>Book detail</h4>
 <% @book %>
  <table>
      <thead>
       <tr>
        <th><%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", size: '100x100' %><br>
            <%= link_to user_path(@user) do %>
            <%= @user.name %>
            <% end %>
        </th>
        <th><%= link_to book_path(@book.id) do %>
            <%= @book.title %>
            <% end %>
        </th>
        <th><%= @book.body %></th>
        <th><% if @book.user == current_user %>
            <%= link_to "Edit", edit_book_path(@book) %>
            <% end %>
        </th>
        <th><% if @book.user == current_user %>
            <%= link_to "Destroy", book_path(@book), method: :delete, data: {confirm: "are you sure？"} %>
            <% end %>
        </th>

        <th></th>

        <th>コメント件数：<%= @book.book_comments.count %></th>



          <table class="book_comments">
           <%= render 'book_comments/index', book: @book %>
          </table>
          <%= form_with(model:[@book, @book_comment], local: true) do |f| %>
            <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
            <%= f.submit "送信する" %>
          <% end %>
        </tr>
      </thead>
  </table>
</div>

</div>
</div>
