<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/dbd121b6c7.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
         <a class="navbar-brand" href="/">
           <span>Bookers</span>
         </a>
         <button class="navbar-toggller" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div class="collapse navbar-collapse" id="navbarNavDropdown">
           <ul class="navbar-nav ml-auto">
           <% if user_signed_in? %>

            <li>
             <%= link_to user_path(current_user.id) do %>
             <i class="fas fa-home">Home</i>
             <% end %>
            </li>
             <li>
               <%= link_to users_path do %>
               <i class="fas fa-users">Users</i>
               <% end %>
             </li>
             <li>
               <%= link_to books_path do %>
               <i class="fas fa-book-open">Books</i>
               <% end %>
             </li>
             <li>
               <%= link_to destroy_user_session_path, method: :delete do %>
               <i class="fas fa-sign-out-alt">logout</i>
               <% end %>
             </li>
            <% else %>
             <li>
               <%= link_to root_path do %>
               <i class="fas fa-home">Home</i>
               <% end %>
             </li>
             <li>
              <%= link_to home_about_path do %>
              <i class="fas fa-link">about</i>
              <% end %>
             </li>
             <li>
               <%= link_to new_user_registration_path do %>
               <i class="fas fa-user-plus">sign up</i>
               <% end %>
             </li>
             <li>
               <%= link_to new_user_session_path do %>
                <i class="fas fa-sign-in-alt">login</i>
               <% end %>
             </li>
             <% end %>
            </ul>
           </div>
          </div>
        </nav>
         <% if user_signed_in? %>
          <div class="search-form">
            <%= form_tag(search_path, method: :get) do %>
              <%= text_field_tag 'search[content]' %>
              <%= select_tag 'search[model]', options_for_select({ "User" => "user", "Book" => "book" }) %>
              <%= select_tag 'search[how]', options_for_select({ "完全一致" => "match", "前方一致" => "forward", "後方一致" => "backward", "部分一致" => "partical"  }) %>
              <%= submit_tag '検索', class: "btn btn-primary" %>
            <% end %>
          </div>
        <% end %>
      </header>
      
      
      <%= yield %>
      
      





  <footer>
      <div class="container mt-5">
          <div class="row">
              <div class="mx-auto">
                  <P>CopyRight Inflatop.inc</P>
              </div>
          </div>
      </div>
  </footer>
 </body>
</html>
